<div class="container">
  <h1>
    Global Values
    <button class="btn btn-primary" (click)="addUser()">
      <i class="material-icons">
        add
      </i>
    </button>
  </h1>

  <div class="container">
    <mat-table #table [dataSource]="globalValues">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.type }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row
        (click)="selectRow(row)"
        *matRowDef="let row; columns: columnsToDisplay"
      ></mat-row>
    </mat-table>
  </div>
</div>
