<nb-list>
  <nb-list-item *ngFor="let definition of _inputDefinitions; let i = index ">
    <div>
      <input type="text" class="w-100" nbInput (change)="updateWorkflow()" [(ngModel)]="definition.name">
    </div>
    <div>
      <nb-select placeholder="Select Showcase" [(selected)]="definition.value.type">
        <nb-option *ngFor="let type of inputTypes" [value]="type">{{type}}</nb-option>
      </nb-select>
    </div>
    <div>
      <button nbButton status="danger" size="tiny" (click)="deleteDefinition(i)">
        <nb-icon icon="trash-2-outline"></nb-icon>
      </button>
    </div>
  </nb-list-item>
  <nb-list-item>
    <button class="w-100" nbButton (click)="addInput()">NEW INPUT</button>
  </nb-list-item>
</nb-list>
<!--
<button nbButton (click)="updateWorkflow()">Save</button>

{{_inputDefinitions | json}}-->
