<nb-card>
  <nb-card-header>
    Step Templates
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let stepTemplate of stepTemplates">
        <div class="step-template-name" (click)="navigateToStepTemplate(stepTemplate.referenceId)">
          <div class="caption">
            Version: {{stepTemplate.version}}</div>
          <div class="value">
            {{stepTemplate.name}} </div>
        </div>
        <nb-actions size="small">
          <nb-action icon="eye-outline" (click)="navigateToStepTemplate(stepTemplate.referenceId)"></nb-action>
          <nb-action icon="play-circle-outline" (click)="openWindow(contentTemplate, stepTemplate)"></nb-action>
        </nb-actions>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <dynamic-form [readOnly]="false" [additionalProps]="data.stepTemplate" (onInputAction)="actionInput($event)"
    (onSubmit)="submitNewStep($event)" [inputs]="data.inputs"></dynamic-form>
</ng-template>
