<nb-card class="list-card" size="small">
  <nb-card-header>Inputs</nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let input of inputs">
      <div class="visited-date">{{input.name}}</div>
      <div class="visited-date">{{input.properties.description}}</div>
      <div class="visited-date">{{input.properties.type}}</div>
    </nb-list-item>
  </nb-list>
</nb-card>
<nb-card class="list-card" size="small">
  <nb-card-header>Outputs</nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let output of outputs">
      <div class="visited-date">{{output.name}}</div>
      <div class="visited-date">{{output.properties.description}}</div>
      <div class="visited-date">{{output.properties.type}}</div>
    </nb-list-item>
  </nb-list>
</nb-card>
