<h1>Workflow {{selectedId}}</h1>
<div class="row h-100">
    <div class="col-sm-4">
        <h2>Inputs</h2>
        <mat-table #table class="tb" [dataSource]="workflowInputs">
            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row (click)="selectWorkflow(row)" *matRowDef="let row; columns: columnsToDisplay"></mat-row>
        </mat-table>
    </div>
    <div class="col-sm-4" *ngIf="template != undefined">
        <cindi-workflow-template-visualization (selectedStepChange)="this.selectStep($event)" [workflowTemplate]="template" [Workflow]="workflow"></cindi-workflow-template-visualization>
    </div>
    <div class="col-sm-4">
        <div class="fluid-container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Inputs</h2>
                    <mat-table #table class="tb" *ngIf="runStep != undefined  && runStep.inputs != undefined" [dataSource]="selectedStepInputs">
                        <!-- Name Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                        <mat-row (click)="selectWorkflow(row)" *matRowDef="let row; columns: columnsToDisplay"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Outputs</h2>
                    <mat-table #table class="tb" *ngIf="runStep != undefined && runStep.outputs != undefined" [dataSource]="selectedStepOutputs">
                        <!-- Name Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                        <mat-row (click)="selectWorkflow(row)" *matRowDef="let row; columns: columnsToDisplay"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="container" *ngIf="workflow != undefined && runStep != undefined">
                {{runStep.log | json}}
            </div>
        </div>
    </div>
</div>
<!--
{{workflow | json}}
-->