<nb-card>
    <workflow-visualizer [workflowTemplate]="workflowTemplate"></workflow-visualizer>
    <nb-card-header>
      <div class="headerText">
        Workflow Template: {{selectedId}}
      </div>
      <nb-actions size="small" class="headerText">
        <nb-action icon="play-circle-outline" (click)="openWindow(contentTemplate, workflowTemplate)"></nb-action>
      </nb-actions>
    </nb-card-header>
  </nb-card>

  <template-view [inputDefinitions]="workflowTemplate?.inputDefinitions" [outputDefinitions]="workflowTemplate?.outputDefinitions"></template-view>



  <ng-template #contentTemplate let-data>
    <dynamic-form [readOnly]="false" [additionalProps]="data.workflowTemplate" (onInputAction)="actionInput($event)"
      (onSubmit)="submitNewWorkflow($event)" [inputs]="data.inputs"></dynamic-form>
  </ng-template>
