<div class="container">
  <h1>
    Users
    <button class="btn btn-primary" (click)="addUser()">
      <i class="material-icons">
        add
      </i>
    </button>
  </h1>

  <div class="container">
    <mat-table #table [dataSource]="users">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.username }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.email }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row
        (click)="selectRow(row)"
        *matRowDef="let row; columns: columnsToDisplay"
      ></mat-row>
    </mat-table>
  </div>
</div>
