<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Cindi</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h2>Configuration Settings</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h5>Number of step templates</h5></div>
    <div class="col-sm-3"><h5>Total number of step templates</h5></div>
    <div class="col-sm-3"><h5>Total number of steps</h5></div>
    <div class="col-sm-3"><h5>Unique bots connected</h5></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h2>Performance Information</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h5>Average step processing time</h5></div>
    <div class="col-sm-3"><h5>Average step queue time</h5></div>
  </div>
</div>
