@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";
@import './app/@theme/styles/themes';

.w-100 {
  width: 100%
}

.w-50 {
  width: 50%;
}

.dashed-stroke {
  stroke-dasharray: 2;
}

nb-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding-top: nb-theme(card-header-with-select-padding-top);
  padding-bottom: nb-theme(card-header-with-select-padding-bottom);
}

nb-list-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.value {
  margin-top: 0.25rem;
  color: nb-theme(color-success-default);
}

.delta {
  display: flex;
  align-items: center;
  position: relative;

  &.down {
    color: nb-theme(color-danger-default);
  }

  &.up {
    color: nb-theme(color-success-default);
  }

  nb-icon ::ng-deep svg {
    vertical-align: top;
  }
}

nb-card-body{
  max-height: 80vh;
}

nb-card{
  max-width: 100vw !important;
}

//Override
.scrollable-container{
  max-width: 100vw !important;
}

.fixed{
  max-width: 100vw !important;
}

.stroke-2 {
  stroke-dasharray: 2;
}
