<nb-card size="giant">

  <nb-card-header>
    <span>Workflow Feed</span>
  </nb-card-header>

  <nb-card-body class="body">
    <nb-tabset>
      <nb-tab tabTitle="Inprogress">
        <nb-list class="user-activity-list">
          <nb-list-item *ngFor="let workflow of workflowsInprogress">
            <div class="list-icon">
              <nb-icon *ngIf="workflow.status == 'queued'" icon="layers" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'started'" icon="activity" pack="eva"></nb-icon>
            </div>
            <div class="step-template-name">
              <div class="caption">{{ workflow.workflowTemplateId }} </div>
              <div class="date-text">{{workflow.createdOn | date: 'medium'}}
              </div>
              <div class="date-text">{{workflow.id}}</div>

              <div class="value">{{workflow.name}}</div>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>

      <nb-tab tabTitle="All Workflows">

        <nb-list class="user-activity-list">
          <nb-list-item *ngFor="let workflow of workflows">
            <div class="list-icon">
              <nb-icon *ngIf="workflow.status == 'queued'" icon="layers" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'started'" icon="activity" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'successful'" icon="checkmark-circle-2" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'warning'" icon="alert-triangle" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'error'" icon="alert-circle" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'unknown'" icon="layers" pack="eva"></nb-icon>
              <nb-icon *ngIf="workflow.status == 'cancelled'" icon="stop-circle" pack="eva"></nb-icon>
            </div>
            <div class="step-template-name">
              <div class="caption">{{ workflow.workflowTemplateId }} </div>
              <div class="date-text">{{workflow.createdOn | date: 'medium'}}
              </div>
              <div class="date-text">{{workflow.id}}</div>

              <div class="value">{{workflow.name}}</div>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>

    </nb-tabset>

  </nb-card-body>
</nb-card>
