<ngx-graph [draggingEnabled]="false" class="chart-container" [view]="[1000, 800]" [links]="edges" [nodes]="nodes">

  <ng-template #nodeTemplate let-node>
    <svg:g width="100" height="50" *ngIf="node.data.type == 'conditionGroup'">
      <svg:rect y="0" x="0" width="50" height="50" stroke-width="0.2"
        [attr.fill]="node.data.operator == 'AND' ? '#5893B1': 'white'"
        (click)="ToggleConditionGroupOperator(node.id,'AND')" stroke="black"></svg:rect>
      <svg:rect y="0" x="50" width="50" height="50" stroke-width="0.2"
        (click)="ToggleConditionGroupOperator(node.id,'OR')"
        [attr.fill]="node.data.operator == 'OR' ? '#5893B1': 'white'" stroke="black"></svg:rect>
      <svg:text y="25" x="10">AND</svg:text>
      <svg:text y="25" x="60">OR</svg:text>
    </svg:g>

    <svg:g width="250" height="50" *ngIf="node.data.type == 'condition'"
      (click)="openWindow(stepStatusTemplate, node.data)">
      <svg:g *ngIf=" node.data.condition.name=='StepStatus'">
        <svg:rect y=" 0" x="0" width="250" height="50" stroke-width="0.2" fill="white" stroke="black">
        </svg:rect>
        <svg:text y="15" x="10">{{node.data.condition.name}}</svg:text>
        <svg:text y="30" x="10">
          Step {{node.data.condition.stepRefId}} {{node.data.condition.comparer}} {{node.data.condition.status}}
        </svg:text>
        <svg:text y="45" x="10" *ngIf="node.data.condition.statusCode != undefined">
          Step {{node.data.condition.stepRefId}} {{node.data.condition.comparer}} statusCode
          {{node.data.condition.statusCode}}
        </svg:text>
      </svg:g>
    </svg:g>

    <svg:g width="100" height="25" *ngIf="node.data.type == 'newConditionGroup'">
      <svg:g>
        <svg:rect class="dashed-stroke" y="0" x="0" width="50" height="50" stroke-width="0.2" [attr.fill]="'white'"
          (click)="addNewConditionGroup(node,'AND')" stroke="black"></svg:rect>
        <svg:rect class="dashed-stroke" y="0" x="50" width="50" height="50" stroke-width="0.2"
          (click)="addNewConditionGroup(node,'OR')" [attr.fill]="'white'" stroke="black"></svg:rect>
        <svg:text y="25" x="10">AND</svg:text>
        <svg:text y="25" x="60">OR</svg:text>
      </svg:g>
    </svg:g>

    <svg:g width="100" height="20" (click)="openWindow(newStepStatusTemplate, node)" *ngIf="node.data.type == 'newCondition'">
      <svg:g>
        <svg:rect class="dashed-stroke" y=" 0" x="0" width="100" height="20" stroke-width="0.2" fill="white"
          stroke="black">
        </svg:rect>
        <svg:text y="15" x="10">
          + Condition
        </svg:text>
      </svg:g>
    </svg:g>
  </ng-template>
</ngx-graph>

<ng-template #stepStatusTemplate let-data>
  <condition-selector [options]="data.options" [condition]="data.condition"
    (onSubmit)="updateCondition($event,data.condition)"></condition-selector>
  {{data| json}}
</ng-template>

<ng-template #newStepStatusTemplate let-node>
  <condition-selector [options]="node.data.options"
    (onSubmit)="addNewCondition(node.id, $event,node.data.parent)"></condition-selector>
  {{node| json}}
</ng-template>

{{prerequisites | json}}