<div [formGroup]="form" class="form-group w-100">
  <div class="form-group">
    <label [attr.for]="input.id"
      ><b>{{ input.id }}</b></label
    >
    <div [ngSwitch]="input.type">
      <input
        *ngSwitchCase="InputDataType.Int"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [readonly]="readOnly"
      />
      <input
        *ngSwitchCase="InputDataType.String"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [readonly]="readOnly"
      />

      <div *ngSwitchCase="InputDataType.Secret" class="row">
        <div class="col-sm-8">
          <input
            type="password"
            class="form-control"
            [formControlName]="input.id"
            [id]="input.id"
            [readonly]="readOnly"
          />
        </div>
        <div
          class="col-sm-2"
          *ngIf="
          input.additionalOptions != undefined &&
            input.additionalOptions.isUnencryptable != undefined &&
            input.additionalOptions.isUnencryptable
          "
        >
          <button
            type="button"
            class="btn btn-primary"
            (click)="UnencryptField()"
          >
            Unencrypt
          </button>
        </div>
      </div>
      <select
        *ngSwitchCase="InputDataType.Bool"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [disabled]="readOnly"
      >
        <option value="true">True</option>
        <option value="false">False</option>
      </select>

      <textarea
        *ngSwitchCase="InputDataType.Object"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        rows="10"
        [readonly]="readOnly"
      ></textarea>

      <input
        *ngSwitchCase="InputDataType.ErrorMessage"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [readonly]="readOnly"
      />

      <input
        *ngSwitchCase="InputDataType.Decimal"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [readonly]="readOnly"
      />

      <input
        *ngSwitchCase="InputDataType.DateTime"
        class="form-control"
        [formControlName]="input.id"
        [id]="input.id"
        [readonly]="readOnly"
      />
      <small id="emailHelp" class="form-text text-muted">{{
        input.description
      }}</small>
    </div>
  </div>
  <!--
  <div class="errorMessage" *ngIf="!isValid">{{input.id}} is required</div>
  -->
</div>