<nb-card>
  <nb-card-header>
    Global Values
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let globalValue of globalValues">
        <div class="list-item w-50">
          <div class="caption">
            Version: {{globalValue.type}}</div>
          <div class="value">
            {{globalValue.name}} </div>
        </div>
        <div class="list-item w-50">
          <span *ngIf="globalValue.type != 'secret'">
            {{globalValue.value}}
          </span>
          <span *ngIf="globalValue.type == 'secret'">
            *********
          </span>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
