<form [formGroup]="globalValuesForm" class="form-group w-100" (onSubmit)="addGlobalValue()">
  <label>
    Name
    <input type="text" formControlName="name" />
  </label>
  <label>
    Type
    <input type="text" formControlName="type" />
  </label>
  <label>
    Description
    <input type="text" formControlName="description" />
  </label>
  <label>
    Value
    <input type="text" formControlName="value" />
  </label>
  <button type="submit" [mat-dialog-close]="globalValuesForm.value">Submit</button>
</form>
