<div class="row">
  <div class="col-sm-6">
    <nb-card>
      <nb-card-body>
        <ngx-graph class="chart-container" [draggingEnabled]="false" [view]="[1000, 500]" [links]="edges"
          [nodes]="nodes">
          <ng-template #nodeTemplate let-node>
            <svg:g *ngIf="node.meta.type == 'step'" (click)="selectStep(node)">
              <svg:rect rx="5" ry="5" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                fill="white" stroke="black"></svg:rect>
              <svg:text x=10 y="20">{{node.data.step.stepTemplateId}}</svg:text>
              <svg:circle x="0" y="0" r="10" height="10" width="10"></svg:circle>
            </svg:g>
            <svg:g *ngIf="node.meta.type == 'start'">
              <svg:rect rx="5" ry="5" width="60" height="30" fill="white" stroke="black"></svg:rect>
              <svg:text x=10 y="20">START</svg:text>
            </svg:g>

            <svg:g *ngIf="node.meta.type == 'new'">
              <svg:rect class="stroke-2" rx="5" ry="5" width="60" height="30" fill="white" stroke="black"></svg:rect>
              <svg:text x=10 y="20">NEW</svg:text>
            </svg:g>
          </ng-template>
        </ngx-graph>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-6">
    <nb-card>
      <nb-card-body>
        <logic-block-visualizer [steps]="selectedLogicBlockPreviousSteps" [logicBlock]="selectedLogicblock">
        </logic-block-visualizer>
      </nb-card-body>
    </nb-card>
  </div>

</div>
