<div class="container">
  <br />

  <h1>Steps</h1>
  <div class="container table-bordered">
    <mat-table #table [dataSource]="steps">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name != null ? element.name : "" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="templateId">
        <mat-header-cell *matHeaderCellDef> Template </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.stepTemplateId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="copy">
        <mat-header-cell *matHeaderCellDef> Copy </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="cloneStep(element)"  class="btn btn-primary">Clone</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row
        (click)="selectRow(row)"
        *matRowDef="let row; columns: columnsToDisplay"
      ></mat-row>
      
    </mat-table>
  </div>
  <br />

  <button mat-button class="btn" (click)="AddStep()">Add New Step</button>
</div>
