<nb-card>
  <nb-card-header>
    Workflow Templates
  </nb-card-header>
  <nb-card-body>
      <data-table [columns]="columns" [page]="page" [rows]="rows" (onSortChange)="onSort($event)"
      (onPageChange)="setPage($event)" (onAction)="onAction($event)"></data-table>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <dynamic-form [readOnly]="false" [additionalProps]="data.workflowTemplate" (onInputAction)="actionInput($event)"
    (onSubmit)="submitNewWorkflow($event)" [inputs]="data.inputs"></dynamic-form>
</ng-template>
