<nb-card>
  <nb-card-header>
    Workflow Templates
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let workflowTemplate of workflowTemplates">
        <div class="step-template-name" (click)="navigateToWorkflowTemplate(workflowTemplate.referenceId)">
          <div class="caption">
            Version: {{workflowTemplate.version}}
          </div>
          <div class="value">
            {{workflowTemplate.name}}
          </div>
        </div>
        <nb-actions size="small">
          <nb-action icon="eye-outline" (click)="navigateToWorkflowTemplate(workflowTemplate.referenceId)"></nb-action>
          <nb-action icon="play-circle-outline" (click)="openWindow(contentTemplate, workflowTemplate)"></nb-action>
        </nb-actions>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <dynamic-form [readOnly]="false" [additionalProps]="data.workflowTemplate" (onInputAction)="actionInput($event)"
    (onSubmit)="submitNewWorkflow($event)" [inputs]="data.inputs"></dynamic-form>
</ng-template>
