<div [formGroup]="form" class="form-group w-100">
  <label [attr.for]="input.id">{{ input.id }}</label>
  <p>{{input.description}}</p>
  <div [ngSwitch]="input.type">
    <input
      *ngSwitchCase="InputDataType.Int"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    />

    <input
      *ngSwitchCase="InputDataType.String"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    />

    <select
      *ngSwitchCase="InputDataType.Bool"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    >
      <option value="true">True</option>
      <option value="false">False</option>
    </select>

    <textarea
      *ngSwitchCase="InputDataType.Object"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
      rows="10"
    ></textarea>

    <input
      *ngSwitchCase="InputDataType.ErrorMessage"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    />

    <input
      *ngSwitchCase="InputDataType.Decimal"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    />

    <input
      *ngSwitchCase="InputDataType.DateTime"
      class="form-control"
      [formControlName]="input.id"
      [id]="input.id"
    />
  </div>
  <!--
  <div class="errorMessage" *ngIf="!isValid">{{input.id}} is required</div>
  -->
</div>
<!--
{{InputDataType.String}}

{{input | json}}
-->
